accelerate
bert-score
datasets
deepspeed
dill
evaluate
fuzzywuzzy
gdown
lxml
matplotlib
nltk
openai
p-tqdm
pandas
python-Levenshtein
pytorch-lightning
quantulum3
rouge_score
scikit-learn==1.0.2
scipy
scispacy
scispacy
sentencepiece
seqeval
stanza
stemming
swifter
textdistance
torch_optimizer
tqdm
ujson
ujson
wandb==0.12.21
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz
